{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="sentimento" content="775afek6d4y9i1057f1b784a678e9785">
    <meta name="sentimento-code" content="72157683219778">

    <title>Login Form</title>

    <link rel="icon" href="{% static 'home/ico/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet"  href="{% static 'home/css/style.css' %}">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet"  href="{% static 'home/css/style.css' %}">

{% block head %} {% endblock %}
</head>

<body>
{% block content %}

{% if form.errors %}
    <script>
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
            }, 4000);
    </script>

    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Ваше ім’я користувача та пароль не збігаються.</strong> Повторіть спробу.
    </div>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
      <div class="alert alert-warning" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Ваш обліковий запис не має доступу до цієї сторінки.</strong>
          Щоб продовжити, увійдіть, використовуючи обліковий запис, який має доступ.
      </div>
  {% else %}
      <div class="alert alert-info" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Будь ласка, увійдіть, щоб переглянути цей сайт.</strong>
      </div>
  {% endif %}
{% endif %}

<div class="content">
    <h2>Авторизація</h2>
    <form id="myform" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="field">
            <span class="fas fa-user"></span>
            {{ form.username }}
            <label>Логін</label>
        </div>
        <div class="field" style="margin: 10px 0;">
            <span class="fas fa-lock"></span>
            {{ form.password }}
            <label>Пароль</label>
        </div>
        <div class="forgot-pass"><a href="{% url 'password_reset' %}" id="lost">Втратили пароль?</a></div>
        <button class="submit-btn" onclick="document.getElementById('myform').submit()">
            Авторизуватись Локально
            <input type="hidden" name="next" value="{{ next }}" />
        </button>
</form>
</div>

<span class="footer-title">Sentimento, {% now "Y" %}</span>

<script src='{% static "home/js/font-awesome-kit.js" %}'></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
{% endblock %}

